{{extend 'admin_layout.html'}}
{{if links is not None:}}
<table>
<tr><td>名</td><td>url</td><td>des</td><td>visible</td><td>管理操作</td></tr>
{{for link in links:}}
<tr>
<td>{{=link.name}}</td><td>{{=link.url}}</td><td>{{=link.description}}</td><td>{{=link.visible}}</td><td>{{=A('编辑',_href=URL('admin_links', args=[str(link.id)]))}}&nbsp;{{=A('删除',_href=URL('delete_link', args=[str(link.id)]))}}</td>
</tr>
{{pass}}
</table>

{{include 'include_functions.html'}}
{{pagination(links_totalpages, links_pageid, URL(r=request))}}
{{pass}}

</p>

{{pass}}

<br/>
<p>
<b>添加新分类</b>
{{=link_form}}
</p>
