{{if blog.category_id.is_public ==1 or session.login:}}
<div class="blogContainer">
    <div class="blogTime">{{=IMG(_src=URL('static', 'images/date_icon_blue.gif'),_alt="",_height="10",_width="10")}}{{=blog.created_date}} {{=blog.title}} {{if session.login:}}&nbsp;{{=A(T('edit'),_href=URL('edit_blog',args=[blog.id]))}} {{pass}}</div>
        <div class="blogTitle"></div>
        <div class="blogContent">
                {{#print blog}}
                {{if request.function == 'view':}}
                  {{=XML(blog.text_view, sanitize=False)}}
                {{else:}}
                  {{=XML(preview_html(blog.text_view), sanitize=False)}}
                {{pass}}
        </div>
        <div class="blogInfo">由wulliam发表于{{=prettydate(blog.created_date,T)}}｜{{=A(blog.category_id.name, _href=URL('category', args=['category_' + str(blog.category_id.id)]))}}|{{=A('查看',_href=URL('view',args=[blog.id]))}} {{=blog.count}}次|{{=A('评论',_href=URL('view',args=[blog.id])+'#blogComment')}}{{=blog.ray_comment.count()}}篇</div>
        <hr noshade>
</div>
{{pass}}
